@charset "UTF-8";
/*　ハンバーガーボタン　*/
body {
  overflow-x: hidden;
  font-family: "M PLUS 1p", sans-serif;
}

header {
  z-index: 9999;
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: #fff;
}
header .header_inner .header_left .logo {
  padding-left: 40px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header_inner .header_left .logo figure img {
  width: 175px;
  height: 40px;
}
header .header_inner .header_right .hamburger {
  display: block;
  position: fixed;
  z-index: 3;
  right: 13px;
  top: 20px;
  width: 42px;
  height: 42px;
  cursor: pointer;
  text-align: center;
}
header .header_inner .header_right .hamburger span {
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 6px;
  background: #555;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
header .header_inner .header_right .hamburger span:nth-child(1) {
  top: 10px;
}
header .header_inner .header_right .hamburger span:nth-child(2) {
  top: 20px;
}
header .header_inner .header_right .hamburger span:nth-child(3) {
  top: 30px;
}
header .header_inner .header_right .hamburger.active span:nth-child(1) {
  top: 16px;
  left: 6px;
  background: #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
header .header_inner .header_right .hamburger.active span:nth-child(2),
header .header_inner .header_right .hamburger.active span:nth-child(3) {
  top: 16px;
  background: #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
header .header_inner .header_right nav.globalMenuSp {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease, visibility 0.6s ease;
  transition: opacity 0.6s ease, visibility 0.6s ease;
}
header .header_inner .header_right nav.globalMenuSp ul {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}
header .header_inner .header_right nav.globalMenuSp ul li {
  list-style-type: none;
  padding: 0;
  width: 100%;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
}
header .header_inner .header_right nav.globalMenuSp ul li:last-child {
  padding-bottom: 0;
}
header .header_inner .header_right nav.globalMenuSp ul li:hover {
  background: #ddd;
}
header .header_inner .header_right nav.globalMenuSp ul li a {
  display: block;
  color: #fff;
  padding: 1em 0;
  text-decoration: none;
}
header .header_inner .header_right nav.globalMenuSp.active {
  opacity: 100;
}

.main {
  width: 100%;
  height: 800px;
}
.main .main_inner .main_video {
  width: 100%;
  height: 800px;
}
.main .main_inner .main_video video {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 800px;
}

.pick_up .pick_up_inner .ttl {
  margin-top: 100px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
}
.pick_up .pick_up_inner .slider li {
  width: 360px;
}
.pick_up .pick_up_inner .slider li img {
  width: 320px;
  height: 240px;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.feature .feature_inner {
  max-width: 1400px;
  margin: 0 auto;
}
.feature .feature_inner .ttl {
  margin-top: 100px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
}
.feature .feature_inner .feature_box {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 115px;
     -moz-column-gap: 115px;
          column-gap: 115px;
  row-gap: 60px;
}
.feature .feature_inner .feature_box .card {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-shadow: 0 0 8px 4px #ccc;
          box-shadow: 0 0 8px 4px #ccc;
}
.feature .feature_inner .feature_box .card figure img {
  width: 385px;
  height: 260px;
}
.feature .feature_inner .feature_box .card .card_body {
  border-top: 1px solid #000;
  width: 385px;
  height: 190px;
  padding: 30px;
}
.feature .feature_inner .feature_box .card .card_body .card_ttl {
  text-align: left;
  font-size: 12px;
  padding-bottom: 30px;
}
.feature .feature_inner .feature_box .card .card_body .card_text {
  padding-bottom: 40px;
  font-size: 14px;
}
.feature .feature_inner .feature_box .card .card_body .card_time {
  text-align: right;
  font-size: 12px;
}

footer {
  margin-top: 40px;
}
footer .footer_inner {
  color: #fff;
  max-width: 1400px;
  margin: 0 auto;
}
footer .footer_inner .ttl {
  margin-top: 100px;
  padding-top: 50px;
  padding-bottom: 30px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
}
footer .footer_inner .footer_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .footer_inner .footer_box .footer_left .top {
  padding-bottom: 20px;
}
footer .footer_inner .footer_box .footer_left .center {
  padding-bottom: 20px;
}
footer .footer_inner .footer_box .footer_right form .box {
  display: block;
}
footer .footer_inner .footer_box .footer_right form .box label {
  display: block;
  padding-bottom: 5px;
}
footer .footer_inner .footer_box .footer_right form .box input {
  width: 540px;
  height: 45px;
  background-color: #fff;
}
footer .footer_inner .footer_box .footer_right form .box textarea {
  background-color: #fff;
  width: 540px;
  height: 80px;
}
footer .footer_inner .footer_box .footer_right form button {
  color: #fff;
  background-color: black;
  width: 200px;
  height: 45px;
  border: 1px solid #fff;
  margin-top: 30px;
}
footer .footer_inner .footer_bottom {
  border-top: 1px solid #ddd;
  text-align: center;
  margin-top: 70px;
  padding: 20px 0;
}

@media (min-width: 1650px) {
  main {
    width: 100%;
    height: 1100px;
  }
  main .main_inner .main_video {
    width: 100%;
    height: 1100px;
  }
  main .main_inner .main_video video {
    width: 100%;
    height: 1100px;
  }

  .pick_up .pick_up_inner .ttl {
    font-size: 36px;
  }
  .pick_up .pick_up_inner .slider li {
    width: 400px !important;
  }
  .pick_up .pick_up_inner .slider li img {
    width: 270px;
    height: 160px;
  }
}
@media (max-width: 1400px) and (min-width: 1000px) {
  .main {
    height: 500px;
  }
  .main .main_inner {
    height: 500px;
  }
  .main .main_inner .main_video {
    height: 500px;
  }
  .main .main_inner .main_video video {
    width: 100%;
    height: 500px;
  }

  .pick_up .pick_up_inner .ttl {
    font-size: 36px;
  }
  .pick_up .pick_up_inner .slider li {
    width: 200px;
  }
  .pick_up .pick_up_inner .slider li img {
    width: 200px;
    height: 120px;
  }

  .feature .feature_inner .ttl {
    font-size: 36px;
  }
  .feature .feature_inner .feature_box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr !important;
    gap: 20px !important;
  }
  .feature .feature_inner .feature_box .card figure img {
    width: 310px;
  }
  .feature .feature_inner .feature_box .card .card_body {
    width: 310px;
  }
  .feature .feature_inner .feature_box .card .card_body .card_text {
    font-size: 13px;
    font-weight: bold;
  }
  footer .footer_inner .ttl {
    font-size: 36px;
  }
  footer .footer_inner .footer_box {
    margin: 0 4%;
  }
  footer .footer_inner .footer_box .footer_left .top {
    font-size: 13px;
  }
  footer .footer_inner .footer_box .footer_left .center {
    font-size: 13px;
  }
  footer .footer_inner .footer_box .footer_left .bottom {
    font-size: 13px;
  }
  footer .footer_inner .footer_box .footer_right form .box input {
    width: 330px;
  }
  footer .footer_inner .footer_box .footer_right form .box textarea {
    width: 330px;
  }
  footer .footer_inner .footer_box .footer_bottom {
    font-size: 10px;
  }
}
@media (max-width: 750px) and (min-width: 490px) {
  header .header_inner .header_left .logo {
    padding-left: 15px;
  }

  .main {
    height: 500px;
  }
  .main .main_inner {
    height: 500px;
  }
  .main .main_inner .main_video {
    height: 500px;
  }
  .main .main_inner .main_video video {
    width: 100%;
    height: 500px;
  }

  .pick_up .pick_up_inner .ttl {
    font-size: 24px;
  }
  .pick_up .pick_up_inner .slider li {
    width: 360px;
  }
  .pick_up .pick_up_inner .slider li img {
    width: 350px;
    height: 240px;
  }

  .feature .feature_inner .ttl {
    font-size: 24px;
  }
  .feature .feature_inner .feature_box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr !important;
    gap: 25px;
  }
  .feature .feature_inner .feature_box .card figure img {
    width: 400px;
  }
  .feature .feature_inner .feature_box .card .card_body {
    width: 400px;
  }
  .feature .feature_inner .feature_box .card .card_body .card_text {
    font-size: 13px;
    font-weight: bold;
  }
  footer .footer_inner .ttl {
    font-size: 24px;
  }
  footer .footer_inner .footer_box {
    margin: 0 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .footer_inner .footer_box .footer_left {
    margin-bottom: 50px;
  }
  footer .footer_inner .footer_box .footer_left .top {
    font-size: 13px;
  }
  footer .footer_inner .footer_box .footer_left .center {
    font-size: 13px;
  }
  footer .footer_inner .footer_box .footer_left .bottom {
    font-size: 13px;
  }
  footer .footer_inner .footer_box .footer_right form .box input {
    width: 100%;
  }
  footer .footer_inner .footer_box .footer_right form .box textarea {
    width: 100%;
  }
  footer .footer_inner .footer_box .footer_bottom {
    font-size: 10px;
  }
}
@media (max-width: 1000px) and (min-width: 780px) {
  .main {
    height: 500px;
  }
  .main .main_inner {
    height: 500px;
  }
  .main .main_inner .main_video {
    height: 500px;
  }
  .main .main_inner .main_video video {
    width: 100%;
    height: 500px;
  }

  .pick_up .pick_up_inner .ttl {
    font-size: 36px;
  }
  .pick_up .pick_up_inner .slider li {
    width: 140px;
  }
  .pick_up .pick_up_inner .slider li img {
    width: 130px;
    height: 90px;
  }

  .feature .feature_inner .ttl {
    font-size: 36px;
  }
  .feature .feature_inner .feature_box {
    display: grid;
    grid-template-columns: 1fr 1fr !important;
    gap: 25px !important;
  }
  .feature .feature_inner .feature_box .card figure img {
    width: 355px;
  }
  .feature .feature_inner .feature_box .card .card_body {
    width: 355px;
  }
  .feature .feature_inner .feature_box .card .card_body .card_text {
    font-size: 13px;
    font-weight: bold;
  }
  footer .footer_inner .ttl {
    font-size: 36px;
  }
  footer .footer_inner .footer_box {
    margin: 0 6%;
  }
  footer .footer_inner .footer_box .footer_left .top {
    font-size: 13px;
  }
  footer .footer_inner .footer_box .footer_left .center {
    font-size: 13px;
  }
  footer .footer_inner .footer_box .footer_left .bottom {
    font-size: 13px;
  }
  footer .footer_inner .footer_box .footer_right form .box input {
    width: 330px;
  }
  footer .footer_inner .footer_box .footer_right form .box textarea {
    width: 330px;
  }
  footer .footer_inner .footer_box .footer_bottom {
    font-size: 10px;
  }
}
@media (max-width: 750px) and (min-width: 490px) {
  header .header_inner .header_left .logo {
    padding-left: 15px;
  }

  .main {
    height: 500px;
  }
  .main .main_inner {
    height: 500px;
  }
  .main .main_inner .main_video {
    height: 500px;
  }
  .main .main_inner .main_video video {
    width: 100%;
    height: 500px;
  }

  .pick_up .pick_up_inner .ttl {
    font-size: 24px;
  }
  .pick_up .pick_up_inner .slider li {
    width: 360px;
  }
  .pick_up .pick_up_inner .slider li img {
    width: 350px;
    height: 240px;
  }

  .feature .feature_inner .ttl {
    font-size: 24px;
  }
  .feature .feature_inner .feature_box {
    display: grid;
    grid-template-columns: 1fr !important;
    gap: 25px;
  }
  .feature .feature_inner .feature_box .card figure img {
    width: 400px;
  }
  .feature .feature_inner .feature_box .card .card_body {
    width: 400px;
  }
  .feature .feature_inner .feature_box .card .card_body .card_text {
    font-size: 13px;
    font-weight: bold;
  }
  footer .footer_inner .ttl {
    font-size: 24px;
  }
  footer .footer_inner .footer_box {
    margin: 0 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .footer_inner .footer_box .footer_left {
    margin-bottom: 50px;
  }
  footer .footer_inner .footer_box .footer_left .top {
    font-size: 13px;
  }
  footer .footer_inner .footer_box .footer_left .center {
    font-size: 13px;
  }
  footer .footer_inner .footer_box .footer_left .bottom {
    font-size: 13px;
  }
  footer .footer_inner .footer_box .footer_right form .box input {
    width: 100%;
  }
  footer .footer_inner .footer_box .footer_right form .box textarea {
    width: 100%;
  }
  footer .footer_inner .footer_box .footer_bottom {
    font-size: 10px;
  }
}
@media (max-width: 780px) {
  .main {
    height: 500px;
  }
  .main .main_inner {
    height: 500px;
  }
  .main .main_inner .main_video {
    height: 500px;
  }
  .main .main_inner .main_video video {
    width: 100%;
    height: 500px;
  }

  .pick_up .pick_up_inner .ttl {
    font-size: 36px;
  }
  .pick_up .pick_up_inner .slider li {
    width: 140px;
  }
  .pick_up .pick_up_inner .slider li img {
    width: 130px;
    height: 90px;
  }

  .feature .feature_inner .ttl {
    font-size: 36px;
  }
  .feature .feature_inner .feature_box {
    display: grid;
    grid-template-columns: 1fr 1fr !important;
    gap: 25px !important;
  }
  .feature .feature_inner .feature_box .card figure img {
    width: 355px;
  }
  .feature .feature_inner .feature_box .card .card_body {
    width: 355px;
  }
  .feature .feature_inner .feature_box .card .card_body .card_text {
    font-size: 13px;
    font-weight: bold;
  }
  footer .footer_inner .ttl {
    font-size: 36px;
  }
  footer .footer_inner .footer_box {
    margin: 0 10px;
  }
  footer .footer_inner .footer_box .footer_left .top {
    font-size: 13px;
  }
  footer .footer_inner .footer_box .footer_left .center {
    font-size: 13px;
  }
  footer .footer_inner .footer_box .footer_left .bottom {
    font-size: 13px;
  }
  footer .footer_inner .footer_box .footer_right form .box input {
    width: 330px;
  }
  footer .footer_inner .footer_box .footer_right form .box textarea {
    width: 330px;
  }
  footer .footer_inner .footer_box .footer_bottom {
    font-size: 10px;
  }
}
@media (max-width: 750px) and (min-width: 490px) {
  header .header_inner .header_left .logo {
    padding-left: 15px;
  }

  .main {
    height: 500px;
  }
  .main .main_inner {
    height: 500px;
  }
  .main .main_inner .main_video {
    height: 500px;
  }
  .main .main_inner .main_video video {
    width: 100%;
    height: 500px;
  }

  .pick_up .pick_up_inner .ttl {
    font-size: 24px;
  }
  .pick_up .pick_up_inner .slider li {
    width: 360px;
  }
  .pick_up .pick_up_inner .slider li img {
    width: 350px;
    height: 240px;
  }

  .feature .feature_inner .ttl {
    font-size: 24px;
  }
  .feature .feature_inner .feature_box {
    display: grid;
    grid-template-columns: 1fr !important;
    gap: 25px;
  }
  .feature .feature_inner .feature_box .card figure img {
    width: 400px;
  }
  .feature .feature_inner .feature_box .card .card_body {
    width: 400px;
  }
  .feature .feature_inner .feature_box .card .card_body .card_text {
    font-size: 13px;
    font-weight: bold;
  }
  footer .footer_inner .ttl {
    font-size: 24px;
  }
  footer .footer_inner .footer_box {
    margin: 0 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .footer_inner .footer_box .footer_left {
    margin-bottom: 50px;
  }
  footer .footer_inner .footer_box .footer_left .top {
    font-size: 13px;
  }
  footer .footer_inner .footer_box .footer_left .center {
    font-size: 13px;
  }
  footer .footer_inner .footer_box .footer_left .bottom {
    font-size: 13px;
  }
  footer .footer_inner .footer_box .footer_right form .box input {
    width: 100%;
  }
  footer .footer_inner .footer_box .footer_right form .box textarea {
    width: 100%;
  }
  footer .footer_inner .footer_box .footer_bottom {
    font-size: 10px;
  }
}
@media (max-width: 480px) {
  header .header_inner .header_left .logo {
    padding-left: 15px;
  }

  .main {
    height: 500px;
  }
  .main .main_inner {
    height: 500px;
  }
  .main .main_inner .main_video {
    height: 500px;
  }
  .main .main_inner .main_video video {
    width: 100%;
    height: 500px;
  }

  .pick_up .pick_up_inner .ttl {
    font-size: 24px;
  }
  .pick_up .pick_up_inner .slider li {
    width: 290px;
  }
  .pick_up .pick_up_inner .slider li img {
    width: 280px;
    height: 190px;
  }

  .feature .feature_inner .ttl {
    font-size: 24px;
  }
  .feature .feature_inner .feature_box {
    display: grid;
    grid-template-columns: 1fr !important;
    gap: 25px;
  }
  .feature .feature_inner .feature_box .card figure img {
    width: 400px;
  }
  .feature .feature_inner .feature_box .card .card_body {
    width: 400px;
  }
  .feature .feature_inner .feature_box .card .card_body .card_text {
    font-size: 13px;
    font-weight: bold;
  }
  footer .footer_inner .ttl {
    font-size: 24px;
  }
  footer .footer_inner .footer_box {
    margin: 0 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .footer_inner .footer_box .footer_left {
    margin-bottom: 50px;
  }
  footer .footer_inner .footer_box .footer_left .top {
    font-size: 13px;
  }
  footer .footer_inner .footer_box .footer_left .center {
    font-size: 13px;
  }
  footer .footer_inner .footer_box .footer_left .bottom {
    font-size: 13px;
  }
  footer .footer_inner .footer_box .footer_right form .box input {
    width: 100%;
  }
  footer .footer_inner .footer_box .footer_right form .box textarea {
    width: 100%;
  }
  footer .footer_inner .footer_box .footer_bottom {
    font-size: 10px;
  }
}
@media (max-width: 380px) {
  header .header_inner .header_left .logo {
    padding-left: 15px;
  }

  .main {
    height: 500px;
  }
  .main .main_inner {
    height: 500px;
  }
  .main .main_inner .main_video {
    height: 500px;
  }
  .main .main_inner .main_video video {
    width: 100%;
    height: 500px;
  }

  .pick_up .pick_up_inner .ttl {
    font-size: 24px;
  }
  .pick_up .pick_up_inner .slider li {
    width: 240px;
  }
  .pick_up .pick_up_inner .slider li img {
    width: 230px;
    height: 150px;
  }

  .feature .feature_inner .ttl {
    font-size: 24px;
  }
  .feature .feature_inner .feature_box {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
  }
  .feature .feature_inner .feature_box .card figure img {
    width: 355px;
  }
  .feature .feature_inner .feature_box .card .card_body {
    width: 355px;
  }
  .feature .feature_inner .feature_box .card .card_body .card_text {
    font-size: 13px;
    font-weight: bold;
  }
  footer .footer_inner .ttl {
    font-size: 24px;
  }
  footer .footer_inner .footer_box {
    margin: 0 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .footer_inner .footer_box .footer_left {
    margin-bottom: 50px;
  }
  footer .footer_inner .footer_box .footer_left .top {
    font-size: 13px;
  }
  footer .footer_inner .footer_box .footer_left .center {
    font-size: 13px;
  }
  footer .footer_inner .footer_box .footer_left .bottom {
    font-size: 13px;
  }
  footer .footer_inner .footer_box .footer_right form .box input {
    width: 100%;
  }
  footer .footer_inner .footer_box .footer_right form .box textarea {
    width: 100%;
  }
  footer .footer_inner .footer_box .footer_bottom {
    font-size: 10px;
  }
}
@media (max-width: 330px) {
  header .header_inner .header_left .logo {
    padding-left: 15px;
  }

  .main {
    height: 500px;
  }
  .main .main_inner {
    height: 500px;
  }
  .main .main_inner .main_video {
    height: 500px;
  }
  .main .main_inner .main_video video {
    width: 100%;
    height: 500px;
  }

  .pick_up .pick_up_inner .ttl {
    font-size: 24px;
  }
  .pick_up .pick_up_inner .slider li {
    width: 190px;
  }
  .pick_up .pick_up_inner .slider li img {
    width: 180px;
    height: 120px;
  }

  .feature .feature_inner .ttl {
    font-size: 24px;
  }
  .feature .feature_inner .feature_box {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
  }
  .feature .feature_inner .feature_box .card figure img {
    width: 300px;
  }
  .feature .feature_inner .feature_box .card .card_body {
    width: 300px;
  }
  .feature .feature_inner .feature_box .card .card_body .card_text {
    font-size: 13px;
    font-weight: bold;
  }
  footer .footer_inner .ttl {
    font-size: 24px;
  }
  footer .footer_inner .footer_box {
    margin: 0 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .footer_inner .footer_box .footer_left {
    margin-bottom: 50px;
  }
  footer .footer_inner .footer_box .footer_left .top {
    font-size: 13px;
  }
  footer .footer_inner .footer_box .footer_left .center {
    font-size: 13px;
  }
  footer .footer_inner .footer_box .footer_left .bottom {
    font-size: 13px;
  }
  footer .footer_inner .footer_box .footer_right form .box input {
    width: 100%;
  }
  footer .footer_inner .footer_box .footer_right form .box textarea {
    width: 100%;
  }
  footer .footer_inner .footer_box .footer_bottom {
    font-size: 10px;
  }
}
/*# sourceMappingURL=style.css.map */